* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 0;
}

.background img {
    width: 700px; 
    max-width: 100%; 
    height: auto;
    margin: 0 auto;
}

.content {
    position: relative;
    text-align: center;
}

.content p {
    color: gold;
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;

}
